.titleBar{
    display: flex;
    align-items: center;
    padding: 5px;
    margin-bottom:10px;
    margin-top: 58px;
    margin-left: 175px;

}
.titleBar img{
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
}
.titleBar span{
    border: 12px;
}
.title {
    font-family: "Pretendard Variable";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.date{
    font-family: "Pretendard Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    color:#5F6E76;
}